<div>
<a href="/">Index</a>
<a href="/cart">Cart</a>
<a href="/products">Products</a>
<h1>Cart</h1>
</div>

<div class="cartContainer">
  {{#each products}}
    <div class="productContainer">
      <div class="pFront">
        <h3>{{this.product.title}}</h3>
        <img src={{this.product.image}} alt={{this.product.title}} />
      </div>
      <div class="pData">
        <p>Descritpion: {{this.product.description}}</p>
        <p>Quantity: {{this.quantity}}</p>
        <p>Price: {{this.product.price}}</p>
      </div>
      <div class="btn">
        <button class="deleteBtn" data-id={{this.product._id}} data-cartid={{this.cartId}}>Delete from cart</button>
      </div>
    </div>
  {{/each}}
</div>
<div class="purchaseContainer">
  <button class="purchaseBtn" data-cartid={{cartId}}>Complete purchase</button>
</div>

<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js
"
></script>
<script src="/js/deleteFromCart.js"></script>
<script src="/js/purchase.js"></script>