<div>
    <div class="generalContainer">
    <h1>Productos</h1>
    {{#each products}}
    <div class="productContainer"> 
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>{{this.code}}</p>
        <p>{{this.price}}</p>
        <p>{{this.status}}</p>
        <p>{{this.stock}}</p>
        <p>{{this.category}}</p>
        <p>{{this._id}}</p>
    </div>
    {{/each}}
    </div>
</div>
