<div>
  <h1>Product</h1>
  <div class="generalContainer">
    <div class="productContainer">
      <div class="pFront">
        <h3>{{product.title}}</h3>
        <img src={{product.image}} alt={{product.title}} />
      </div>
      <div class="pData">
        <p>{{product.category}}</p>
        <p>{{product.description}}</p>
        <p>Price: {{product.price}}</p>
        <p>Stock: {{product.stock}}</p>
      </div>
      <div class="bnContainer">
        <button class="addBtn" data-id={{product._id}}>Add to cart</button>
      </div>
    </div>

  </div>
</div>
<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js
"
></script>
<script src="/js/addToCart.js"></script>